[submodule "static/cjs-garchive"]
	path = static/cjs-garchive
	url = https://github.com/metalfoxdev/cjs-garchive.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
